@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\000032}}
body {
  background-color: #202020;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\000036}}
.search-frame {
  width: 50%;
  float: left;
  position: relative;
  padding: 1%;
  margin: 2%;
  font-family: Century Gothic, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000315}}
.form-search {
  border-radius: 2%;
  font-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000320}}
.submit-search {
  margin: 0;
  color: #b81d18;
  border: 1px solid #b81d18;
  width: 80px;
  padding: 1%;
  height: 40px;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3c3c3c), color-stop(100%, #5a5a5a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3c3c3c 50%, #5a5a5a 100%);
  /* W3C */
  /* W3C */
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000353}}
.submit-search:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000357}}
.search-advance {
  margin: 2% 0;
  padding: 3% 2%;
  background-color: #202020;
  border-radius: 2%;
  transition: height 0.4s cubic-bezier(0, 0.795, 0, 1);
  color: #f0f0f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000372}}
.radius-search {
  border-radius: 2%;
  width: auto;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000379}}
.music-search {
  font-size: 100%;
  width: 100%;
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000386}}
#map_canvas {
  border: 2px solid black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000390}}
.text-center {
  border: 3px solid black;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\0000395}}
.input-search {
  border: 0 none;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #d7d7d7;
  width: 150px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3c3c3c), color-stop(100%, #5a5a5a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3c3c3c 50%, #5a5a5a 100%);
  /* W3C */
  /* W3C */
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003136}}
.input-search:focus {
  background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
  color: #6a6f75;
  width: 200px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003146}}
.submit-search-form {
  margin-top: 10%;
  float: right;
  width: 35%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003152}}
.search-frame-advance-item-label {
  height: 60px;
  border: 1px solid #B6B6B6;
  text-align: center;
  width: 100%;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3c3c3c), color-stop(100%, #5a5a5a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3c3c3c 50%, #5a5a5a 100%);
  /* W3C */
  /* W3C */
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003180}}
.search-frame-advance-item {
  height: 60px;
  border: 1px solid #B6B6B6;
  text-align: center;
  background: royalblue;
  width: 100%;
  background: #282828;
  /* Old browsers */
  background: -moz-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #282828), color-stop(100%, #3c3c3c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #282828 50%, #3c3c3c 100%);
  /* W3C */
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003208}}
#radius {
  width: 100%;
  height: 70%;
  margin: 2% 0;
  font-size: 130%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003215}}
.music-radio {
  margin: 1%;
  font-size: 150%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003221}}
#musicNo,
#musicYes {
  margin-top: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003226}}
.music-radio-no,
.music-radio-yes {
  margin: 1%;
  font-size: 150%;
  height: 100%;
  margin-top: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003235}}
.music-radio-no {
  margin: 1%;
  font-size: 150%;
  height: 100%;
  margin-top: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003242}}
.checkbox + .checkbox,
.radio + .radio {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003247}}
.music-radio-yes > label {
  margin-top: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003255}}
#working {
  width: 80%;
  margin: 1%;
  /* margin-top: 1%; */
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003263}}
.submit-search-form {
  margin-top: 2%;
  float: right;
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003269}}
.search-frame-form {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003273}}
.detail-frame {
  padding: 1% 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003277}}
.photo-frame {
  height: 300px;
  border: 1px solid #b81d18;
  margin: 2% 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003283}}
.info-frame {
  color: #f0f0f0;
  font-weight: 100;
  font-size: 200%;
  display: inline-block;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 7%;
  margin: 2% 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003295}}
.detail-text {
  font-size: 180%;
  font-weight: 500;
  color: #b81d18;
  border: 1px solid #b6b6b6;
  border-radius: 20px;
  text-align: center;
  background: #282828;
  /* Old browsers */
  background: -moz-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #282828), color-stop(100%, #3c3c3c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #282828 50%, #3c3c3c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #282828 50%, #3c3c3c 100%);
  margin-bottom: 7%;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Programi\/Programming\/AndroidProjects\/KafanaLokator\/Kafana-Locator\/www\/less\/kafana\.less}line{font-family:\00003327}}
.detail-item {
  margin-left: 5%;
  font-weight: 100;
  font-size: 100%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* width: 55%; */
  padding: 1% 10%;
  box-sizing: border-box;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3c3c3c), color-stop(100%, #5a5a5a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3c3c3c 50%, #5a5a5a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3c3c3c 50%, #5a5a5a 100%);
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
}
/*# sourceMappingURL=kafana.css.map */